/* Carousel.css */
.carousel-inner img {
    object-fit: contain;
}
.carousel-control-prev,
.carousel-control-next{
    opacity: 1;
    transform: scale(1.2);
}
.carousel-control-prev i,
.carousel-control-next i {
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 1px solid rgb(133, 133, 133, 0.5)
}

.carousel {
    /* max-width: 800px; */
    /* border: 2px solid #ddd; */
    /* aspect-ratio: 37/9; */
    border-radius: 10px;
    overflow: hidden;
}