:root {
    /* Colours */
    --color-text: #0b2447;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #d7d1b3;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  